body {
	background-color: burlywood;
	font-family: 'Bitter', serif;
	font color: black;
	color: black;
	
}
#center {
	font-family: 'Bitter', serif;
	font color: black;
	color: black;
	
}
#text {
	font-family: 'Bitter', serif;
	font color: black;
	color: black;
}
#map1 {
	width: 200px;
	height: 400px;
	font-family: 'Bitter', serif;
	font color: black;
	color: black;
	
	
}
#map2 {
	width: 200px;
	height: 400px;
	font-family: 'Bitter', serif;
	font color: black;
	color: black;
	
}
#map3 {
	width: 200px;
	height: 400px;
	font-family: 'Bitter', serif;
	font color: black;
	color: black;

}
#map4 {
	width: 200px;
	height: 400px;
	font-family: 'Bitter', serif;
	font color: black;
	color: black;
	
}
#map4 {
	width: 200px;
	height: 400px;
	font-family: 'Bitter', serif;
	font color: black;
	color: black;
	
}